@use 'lib' as *;

.social {
	$self: &;
	display: flex;
	gap: 24px;

	&__link {
		text-decoration: none;
		color: inherit;

		img {
			max-width: 50px;
			display: block;
			
			@include media('<=xxs') {
				max-width: 40px;
			}
		}
	}
}
