@use 'lib' as *;

.button {
	$self: &;
	height: 70px;
	display: flex;
	width: fit-content;
	align-items: center;
	padding: 3px 24px 3px 4px;
	gap: 24px;
	border-radius: 1000px;
	border: 3px solid var(--crimson);
	background: 
	linear-gradient(var(--ground), var(--ground)) padding-box,
	linear-gradient(90deg, #926105, #DFA02B, #91620B) border-box;
	transition: border-color 0.3s;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--red);
	font-weight: 600;
	font-size: 20px;
	cursor: pointer;
	
	@include media('<=xxlg') {
		height: 62px;
		font-size: 18px;
		border-width: 2px;
		padding: 3px 24px 3px 3px;
	}

	@include media('<=xxs') {
		font-size: 15px;
	}

	strong {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		aspect-ratio: 1;
		border-radius: 1000px;
		border: 5px solid var(--crimson);
		background-color: var(--red);
		
		svg {
			width: 70%;
			height: 70%;
			fill: var(--bright);
			transition: rotate 0.3s;
		}

		img {
			width: 60%;
			height: 60%;
			display: none;
		}
	}
	
	span {
		padding-top: 4px;
		color: var(--red);
		transition: color 0.3s;
		// background: linear-gradient(90deg, #926105, #DFA02B, #91620B) border-box;
		// -webkit-text-fill-color: transparent;
		// -webkit-background-clip: text;
	}

	&_spin:hover {
		strong svg {
			rotate: 90deg;
		}
	}

	&_dark {
		background: 
			linear-gradient(var(--dark), var(--dark)) padding-box,
			linear-gradient(90deg, #926105, #DFA02B, #91620B) border-box;

	}

	&_hero {
		background: none;

		&:hover {
			border-color: #a5700e !important;
		}
	}
	
	&:hover {
		border-color: transparent;
		
		span { color: #d18f15; }
	}

	&_book {
		border: 3px solid var(--bright);
		background: 
			linear-gradient(var(--crimson), var(--crimson)) padding-box,
			linear-gradient(90deg, #926105, #DFA02B, #91620B) border-box;

		strong {
			border: 5px solid #B89596;
			background-color: var(--bright);
		
			svg { fill: var(--crimson); }
		}

		span { color: var(--bright); }
	}

	&_pending strong {
		svg { display: none; }

		img { display: block; }
	}
}