@use 'lib' as *;

.offer {
	$self: &;
	margin-bottom: 95px;
	
	@include media('<=xxs') {
		margin-bottom: 24px;
	}

	&_he {
		
	}

	&__title {
		text-align: center;
		margin-bottom: 25px;
	}

	&__inner {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 35px;
		
		@include media('<=sm') {
			display: flex;
			flex-flow: column nowrap;
			grid-gap: 55px;
		}
		
		@include media('<=xxs') {
			grid-gap: 73px;
		}
	}

	&__side {
		display: flex;
		grid-column: span 1;
		flex-flow: column nowrap;
		align-items: center;
		gap: 73px;

		@include media('<=sm') {
			gap: 35px;
		}

		@include media('<=xxs') {
			max-width: 340px;
			margin: 0 auto;
			gap: 20px;
		}

		svg {
			fill: var(--bright);
			aspect-ratio: 1;
			width: 100px;

			@include media('<=xxs') {
				width: 62px;
			}
		}
	}
	
	&__point {
		display: flex;
		align-items: center;
		flex-flow: column nowrap;
		text-align: center;
		gap: 15px;
	}
	
	&__reason {
		text-align: center;
		line-height: 1.4;
	}
	
	&__button {
		
	}
	
	&__image {
		grid-column: span 1;
		border-radius: 10px;
		overflow: hidden;

		@include media('<=sm') {
			max-width: 550px;
			margin: 0 auto;
		}

		img {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: cover;
		}
	}
}