<footer class="footer footer_he"> 
	<div class="footer__book book book_he container">
		<h2 class="book__title subtitle">הזמינו שירות
 עכשיו</h2>
		<a class="book__button button button_book" href="./">
			<strong><svg><use xlink:href="#ring"></use></svg></strong>
			<span>להזמנה עכשיו</span>
		</a>
	</div>
	<div class="footer__inner">
		<div class="footer__body container">
			<div class="footer__left">
				<nav class="footer__navi">
					<a class="footer__link" href="#contact">יצירת קשר</a>
					<a class="footer__link" href="#subscribe">מנוי</a>
					<a class="footer__link" href="#service">שירותים</a>
					<a class="footer__link" href="#about">עלינו</a>
				</nav>
				<div class="footer__contact">
					<a class="footer__pin pin" href="./"><svg><use xlink:href="#ring"></use></svg></a>
					<a class="footer__pin pin" href="./"><svg><use xlink:href="#wapp"></use></svg></a>
					<div class="footer__phone">
						<span class="gold">צרו קשר איתנו</span>
						<a href="tel:+972533907950">+972 53 390 7950</a>
					</div>
				</div>
			</div>
			<a class="footer__logo" href="./">
				<img src="./images/logo.webp" alt="">
			</a>
			<div class="footer__right">
				<div class="footer__subscribe">עקבו אחרינו</div>
				<div class="footer__social social">
					<a class="social__link" href="./">
						<img src="./images/social-fboo.svg" alt="">
					</a>
					<a class="social__link" href="./">
						<img src="./images/social-inst.svg" alt="">
					</a>
					<a class="social__link" href="./">
						<img src="./images/social-ttok.svg" alt="">
					</a>
					<a class="social__link" href="./">
						<img src="./images/social-yout.svg" alt="">
					</a>
				</div>
			</div>
		</div>
		<div class="footer__bottom">
			<a href="https://wwdiv.com/" target="_blank">
				&copy; Made with <span>&#9825;</span> by WWdiv Studio
			</a>
		</div>
	</div>
</footer>

<div class="call">
	<a class="call__pin pin" href="./"><svg><use xlink:href="#ring"></use></svg></a>
	<a class="call__pin pin" href="./"><svg><use xlink:href="#wapp"></use></svg></a>
	<button class="call__toggle">
		<svg><use xlink:href="#phone"></use></svg>
		<svg><use xlink:href="#close"></use></svg>
	</button>
</div>

@@include("_sprite.svg")
<script src="common.js?v=0"></script> 
</body> 
</html>