<footer class="footer"> 
	<div class="footer__book book container">
		<h2 class="book__title subtitle">Забронируйте<br/> услугу сейчас</h2>
		<a class="book__button button button_book" href="tel:+972533907950">
			<strong><svg><use xlink:href="#ring"></use></svg></strong>
			<span>Забронировать сейчас</span>
		</a>
	</div>
	<div class="footer__inner">
		<div class="footer__body container">
			<div class="footer__left">
				<nav class="footer__navi">
					<a class="footer__link" href="#about">О нас</a>
					<a class="footer__link" href="#service">Услуги</a>
					<a class="footer__link" href="#offer">Подписка</a>
					<a class="footer__link" href="#contact">Контакты</a>
				</nav>
				<div class="footer__contact">
					<a class="footer__pin pin" href="tel:+972533907950">
						<svg><use xlink:href="#ring"></use></svg>
					</a>
					<a class="footer__pin pin" href="http://wa.me/972533907950" target="_blank">
						<svg><use xlink:href="#wapp"></use></svg>
					</a>
					<div class="footer__phone">
						<span class="gold">Связаться с нами</span>
						<a href="tel:+972533907950">+972 53 390 7950</a>
					</div>
				</div>
			</div>
			<a class="footer__logo" href="./ru.html">
				<img src="./images/logo.webp" alt="">
			</a>
			<div class="footer__right">
				<div class="footer__subscribe">Подпишись на нас</div>
				@@include("_social.html", { cls: "footer__social"})
			</div>
		</div>
		<div class="footer__bottom">
			<a href="https://wwdiv.com/" target="_blank">
				&copy; Made with <span>&#9825;</span> by WWdiv Studio
			</a>
		</div>
	</div>
</footer>
@@include("_call.html")

@@include("_sprite.svg")
<script src="common.js?v=0"></script> 
</body> 
</html>