<header class="header @@if(this.mod){header_@@mod}">
	<div class="header__inner container">
		<div class="header__main">
			<nav class="header__links">
				<a class="header__link" href="#about">О нас</a>
				<a class="header__link" href="#service">Услуги</a>
				<a class="header__link" href="#subscribe">Подписка</a>
				<a class="header__link" href="#contact">Контакты</a>
			</nav>
		</div>
		<a class="header__logo" href="./">
			<img src="./images/logo.webp" alt="">
		</a>
		<div class="header__side">
			<div class="header__contact">
				<span class="gold">Связаться с нами</span>
				<a href="tel:+972533907950">+972 53 390 7950</a>
			</div>		
			<a class="header__lang" href="./">
				<img src="./images/flag-he.webp" alt="">
			</a>
		</div>
	</div>
</header>

<div class="menu">
	<button class="menu__toggle">
		<span></span>
		<span></span>
		<span></span>
	</button>
	<div class="menu__body">
		<a class="menu__lang" href="./">
			<img src="./images/flag-he.webp" alt="">
		</a>
		<div class="menu__content">
			<a class="menu__logo" href="./">
				<img src="./images/logo.webp" alt="">
			</a>
			<nav class="menu__links">
				<a class="menu__link" href="#about">О нас</a>
				<a class="menu__link" href="#service">Услуги</a>
				<a class="menu__link" href="#subscribe">Подписка</a>
				<a class="menu__link" href="#contact">Контакты</a>
			</nav>
			<div class="menu__contact">
				<span>Связаться с нами</span>
				<a href="tel:+972533907950">+972 53 390 7950</a>
			</div>
			<div class="menu__social social">
				<a class="social__link" href="./">
					<img src="./images/social-fboo.svg" alt="">
				</a>
				<a class="social__link" href="./">
					<img src="./images/social-inst.svg" alt="">
				</a>
				<a class="social__link" href="./">
					<img src="./images/social-ttok.svg" alt="">
				</a>
				<a class="social__link" href="./">
					<img src="./images/social-yout.svg" alt="">
				</a>
			</div>
		</div>
	</div>
</div>