<header class="header header_he">
	<div class="header__inner container">
		<div class="header__main">
			<nav class="header__links">
				<a class="header__link" href="#contact">יצירת קשר</a>
				<a class="header__link" href="#offer">מנוי</a>
				<a class="header__link" href="#service">שירותים</a>
				<a class="header__link" href="#about">עלינו</a>
			</nav>
		</div>
		<a class="header__logo" href="./">
			<img src="./images/logo.webp" alt="">
		</a>
		<div class="header__side">
			<div class="header__contact">
				<a href="tel:+972533907950">+972 53 390 7950</a>
				<span class="gold">צרו קשר איתנו</span>
			</div>		
			<a class="header__lang" href="ru.html">
				<img src="./images/flag-ru.webp" alt="">
			</a>
		</div>
	</div>
</header>

<div class="menu menu_he">
	<button class="menu__toggle">
		<span></span>
		<span></span>
		<span></span>
	</button>
	<div class="menu__body">
		<a class="menu__lang" href="ru.html">
			<img src="./images/flag-ru.webp" alt="">
		</a>
		<div class="menu__content">
			<a class="menu__logo" href="./">
				<img src="./images/logo.webp" alt="">
			</a>
			<nav class="menu__links">
				<a class="menu__link" href="#about">עלינו</a>
				<a class="menu__link" href="#service">שירותים</a>
				<a class="menu__link" href="#offer">מנוי</a>
				<a class="menu__link" href="#contact">יצירת קשר</a>
			</nav>
			<div class="menu__contact">
				<span>צרו קשר איתנו</span>
				<a href="tel:+972533907950">+972 53 390 7950</a>
			</div>
			<div class="menu__social social">
				<a class="social__link" href="./">
					<img src="./images/social-fboo.svg" alt="">
				</a>
				<a class="social__link" href="./">
					<img src="./images/social-inst.svg" alt="">
				</a>
				<a class="social__link" href="./">
					<img src="./images/social-ttok.svg" alt="">
				</a>
				<a class="social__link" href="./">
					<img src="./images/social-yout.svg" alt="">
				</a>
			</div>
		</div>
	</div>
</div>