<div class="@@if(this.cls){@@cls} social">
	<a class="social__link" href="https://www.facebook.com/share/14YV3XzXPY/?mibextid=wwXIfr" target="_blank">
		<img src="./images/social-fboo.svg" alt="">
	</a>
	<a class="social__link" href="./" target="_blank">
		<img src="./images/social-inst.svg" alt="">
	</a>
	<a class="social__link" href="./" target="_blank">
		<img src="./images/social-ttok.svg" alt="">
	</a>
	<a class="social__link" href="./" target="_blank">
		<img src="./images/social-yout.svg" alt="">
	</a>
</div>
