@use 'lib' as *;

.point {
	$self: &;

	&_he {
		
	}
	
	&__images.swiper {
		margin-bottom: 18px;
		
		@include media('<=sm') {
			margin-left: calc(var(--gap) * -1);
			margin-right: calc(var(--gap) * -1);
			padding-left: var(--gap);
			padding-right: var(--gap);
			margin-bottom: 24px;
		}
		
		.swiper-wrapper {
			@include media('>sm') {
				display: grid;
				grid-template-columns: 2fr 3fr 2fr;
				justify-items: center;
				align-items: center;
				grid-gap: 20px 30px;
			}
		}

		.swiper-slide {
			height: auto;
		}
	}

	&__image {

		@include media('<=sm') {
			border-radius: 10px;
			overflow: hidden;
		}

		img {
			display: block;
			border-radius: 10px;
			
			@include media('<=sm') {
				border-radius: 0;
				object-fit: cover;
				height: 100%;
				width: 100%;
			}
		}
	}

	&__bottom {
		display: grid;
		grid-template-columns: 2fr 3fr 2fr;
		justify-items: center;
		align-items: center;
		grid-gap: 28px 30px;

		@include media('<=sm') {
			display: flex;
			flex-flow: column nowrap;
		}
	}

	&__text {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		min-height: 220px;
		border-radius: 10px;
		grid-column: span 2;
		border: 2px solid transparent;
		background: 
			linear-gradient(var(--dark), var(--dark)) padding-box,
			linear-gradient(90deg, #926105, #DFA02B, #91620B) border-box;
		text-align: center;
		padding: 15px 22px;
		font-size: 20px;
		line-height: 1.37;
		
		@include media('<=sm') {
			font-size: 18px;
		}
		
		@include media('<=xxs') {
			padding: 23px 20px 18px;
			letter-spacing: 0.03em;
			line-height: 1.29;
		}
	}

	&__button {

	}
}