@use 'lib' as *;

.contact {
	$self: &;
	margin-bottom: 135px;

	&__title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 110px;
		gap: 16px;
		
		&.container {
			--container: 860px;
		}

		span.subtitle {
			padding-top: 10px;
		}
	}

	&__pin {
		width: 82px;
	}

	&__inner {
		display: flex;
		gap: 30px;
	}

	&__side {
		display: flex;
		flex-flow: column nowrap;
		padding-top: 20px;
		width: 380px;
		gap: 63px;
	}

	&__subtitle {

	}

	&__points {
		display: flex;
		flex-flow: column nowrap;
		margin-bottom: 25px;
		gap: 30px;
	}

	&__point {
		display: flex;
		align-items: center;
		gap: 32px;

		svg {
			fill: var(--red);
			aspect-ratio: 1;
			width: 40px;
		}

		a, span {
			color: inherit;
			transition: color 0.3s;
			text-decoration: none;
			font-size: 21px;
			line-height: 1.4;
		}

		a:hover {
			color: var(--red);
		}
	}

	&__social.social {
		justify-content: space-between;
		max-width: 355px;
	}

	&__form {
		background-color: var(--dark);
		border-radius: 10px;
		flex-grow: 1;
	}
}