@use 'lib' as *;

.subtitle {
	$self: &;
	display: block;
	font-size: 50px;
	color: var(--bright);
	letter-spacing: 0.025em;
	text-transform: uppercase;
	font-family: "SC", sans-serif;
	-webkit-text-fill-color: var(--bright);
}
