@use 'lib' as *;

.title {
	$self: &;
	display: block;
	font-size: fluid(64px, 35px, xlg, xxs);
	color: var(--bright);
	letter-spacing: 0.05em;
	text-transform: uppercase;
	font-family: "SC", sans-serif;
	
	&_white {
		background: none;		
		-webkit-text-fill-color: inherit;
		-webkit-background-clip: inherit;
	}
}