@use 'lib' as *;

.call {
	$self: &;
	--border: 6px;
	--width: 55px;
	--height: 55px;
	--offset: 10px;
	--opened: 205px;
	--container: 1400px;
	--ground: var(--red);
	--line: var(--crimson);
	
	width: var(--width);
	height: var(--height);
	transition: height 0.4s;
	right: max(var(--gap), calc((100% - var(--container)) / 2));
	position: fixed;
	bottom: 18.7%;
	z-index: 2;
	
	@include media('<=xlg') {
		bottom: 5%;
	}
	
	@include media('<=xxs') {
		--offset: 5px;
		--opened: 165px;
		--height: 45px;
		--width: 45px;
	}
	
	&.opened {
		--line: #c5c5c5;
		--ground: var(--bright);
		--height: var(--opened);

		#{$self}__pin:nth-child(2) {
			top: calc(var(--width) + 10px);
		}

		#{$self}__toggle svg {
			&:nth-child(1) {
				display: none;
			}

			&:nth-child(2) {
				display: block;
			}
		}
	}
	
	&__pin {
		width: 100%;
		transition: top 0.4s;
		position: absolute;
		z-index: 1;
		left: 0;
		top: 0;
	}

	&__toggle {
		@extend %reset-button;
		width: calc(100% + var(--offset) * 2);
		border: var(--border) solid var(--line);
		background-color: var(--ground);
		transition: background-color 0.4s, border-color 0.4s;
		border-radius: 1000px;
		position: absolute;
		aspect-ratio: 1;
		bottom: calc(var(--offset) * -1);
		left: calc(var(--offset) * -1);
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;

		svg {
			animation: fadeIn 0.4s;
			aspect-ratio: 1;
			width: 60%;
			
			&:nth-child(1) {
				fill: var(--bright);
			}
			
			&:nth-child(2) {
				fill: var(--red);
				display: none;
			}
		}
	}
}