@use 'lib' as *;

.service {
	$self: &;
	margin-bottom: 30px;

	&_he {
		
	}
	
	&__title {
		text-align: center;

		@include media('<=sm') {
			margin-bottom: 28px;
		}
	}

	&__parts {
		display: flex;
		flex-flow: column nowrap;
		gap: 64px;
		
		@include media('<=xxs') {
			gap: 68px;
		}
	}

	&__part {

	}
	
	&__subtitle {
		display: flex;
		align-items: center;
		justify-content: center;
		line-height: 0.9;
		gap: 26px;
		
		@include media('<=sm') {
			display: block;
			margin-bottom: 30px;
			text-align: center;
			line-height: 1.2;
		}
		
		svg {
			display: block;
			fill: var(--bright);
			aspect-ratio: 1;
			width: fluid(110px, 50px, md, xxs);
			
			@include media('<=sm') {
				margin: 0 auto 20px;
			}
		}
		
		span {
			padding-top: 16px;
		}
	}

	&__point {

	}
}