@use 'lib' as *;

.menu {
	$self: &;
	--container: 1400px;
	--left: max(var(--gap), calc((100% - var(--container)) / 2));
	--top: 30px;
	display: contents;
	
	@include media('<=xxs') {
		--top: 43px;
	}

	&_he {
		
	}

	&__toggle {
		@extend %reset-button;
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		gap: 5px;
		width: 45px;
		aspect-ratio: 1;
		border-radius: 1000px;
		background-color: var(--red);
		position: fixed;
		left: var(--left);
		top: var(--top);
		z-index: 11;

		&.opened {
			gap: 0;

			span {
				width: 35px;

				&:nth-child(1) {
					rotate: 45deg;
					translate: 0 1px;
				}
		
				&:nth-child(2) {
					display: none;
				}
		
				&:nth-child(3) {
					rotate: -45deg;
					translate: 0 -1px;
				}
			}
		}

		span {
			height: 2px;
			width: 24px;
			border-radius: 10px;
			background-color: var(--bright);
			transition: rotate 0.3s, translate 0.3s;
			transform-origin: center;
		}
	}

	&__body {
		display: none;
		flex-flow: column nowrap;
		position: fixed;
		z-index: 10;
		top: var(--top);
		left: var(--left);
		background-color: rgba(26, 26, 26, 0.8);
		border-radius: 23px 23px 8px 8px;
		backdrop-filter: blur(8px);
		padding: 30px 30px 60px;
		animation: fadeIn 0.4s;
		width: min(var(--container), calc(100% - var(--gap) * 2));
		max-width: 580px;
		height: 720px;
		
		@include media('<=xxs') {
			left: 0;
			top: 0;
			width: 100%;
			height: calc(var(--vh, 1dvh) * 100);
			border-radius: 0;
			padding: 20px 0 20px 20px;
			justify-content: space-between;
		}
		
		&.opened {
			display: flex;
		}
	}

	&__content {
		font-size: 22px;
		font-weight: 500;
		color: var(--bright);
		display: flex;
		align-items: center;
		flex-flow: column nowrap;
		overflow-y: auto;
		height: 100%;
		
		@include media('<=xxs') {
			padding: 65px 20px 0 0;
			gap: 50px;
		}

		&::-webkit-scrollbar {
			width: 3px;
			height: 3px;
		}

		&::-webkit-scrollbar-track {
			background-color: var(--crimson);
		}
		
		&::-webkit-scrollbar-thumb {
			background-color: var(--red);
			border-radius: 0px;
		}
		
		&::-webkit-scrollbar-corner {
			background-color: transparent;
		}
	}

	&__lang {
		position: absolute;
		right: 0;
		top: 0;
		border-radius: 1000px;
		overflow: hidden;
		aspect-ratio: 1;
		flex-shrink: 0;
		width: 45px;

		@include media('<=xxs') {
			right: var(--gap);
			top: var(--top);
		}

		img {
			display: block;
		}
	}

	&__logo {
		max-width: 110px;
		margin-bottom: 15px;
		
		@include media('<=xxs') {
			max-width: 120px;
			margin-bottom: 5px;
		}
	}

	&__links {
		margin-bottom: 30px;
		
		@include media('<=xxs') {
			margin-bottom: 40px;
		}
	}

	&__link {
		display: block;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		transition: color 0.3s;
		color: inherit;
		padding: 13px 0;
		
		@include media('<=xxs') {
			padding: 16px 0;
		}

		&:hover {
			color: var(--red);
		}
	}

	&__contact {
		margin-bottom: 40px;
		
		@include media('<=xxs') {
			margin-bottom: 20px;
		}

		span, a {
			display: block;
			padding: 7px 0;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			transition: color 0.3s;
			color: inherit;
		}

		a:hover {
			color: var(--red);
		}
	}

	&__social.social {
		margin: auto auto 0;
		justify-content: space-between;
		max-width: 310px;
		width: 100%;
		
		@include media('<=xxs') {
			max-width: 290px;
		}
	}
}