@use 'lib' as *;

.form {
	$self: &;
	padding: 35px;
	
	@include media('<=xxs') {
		padding: 0;
	}

	&__title {
		text-align: center;
		margin-bottom: 22px;
		
		@include media('<=xxs') {
			margin-bottom: 32px;
		}

		br {
			display: none;
		
			@include media('<=xxs') {
				display: block;
			}
		}
	}

	&__fields {
		width: 100%;
		max-width: 580px;
		margin: 0 auto 30px;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px 27px;
		
		@include media('<=md') {
			margin: 0 auto 40px;
			max-width: none;
		}
	}

	&__field {
		display: flex;
		grid-column: span 2;
		flex-flow: column nowrap;
		gap: 4px;

		&_required span::after {
			content: '*';
			color: var(--red);
			display: inline-block;
			margin-left: 10px;
		}

		&_half {
			grid-column: span 1;
			
			@include media('<=lg') {
				grid-column: span 2;
			}
			
			@include media('<=md') {
				grid-column: span 1;
			}
			
			@include media('<=xs') {
				grid-column: span 2;
			}
		}

		span {
			display: block;
			font-size: 19px;
		}

		input, textarea {
			@extend %reset-input;
			border: 1px solid rgba(var(--bright-rgb), 0.2);
			transition: border-color 0.3s, box-shadow 0.3s;
			color: var(--bright);
			border-radius: 8px;
			min-height: 45px;
			font-size: 20px;
			padding: 10px;
			width: 100%;
			
			@include media('<=xxs') {
				min-height: 62px;
			}
		}

		textarea {
			min-height: 150px;
			
			@include media('<=xxs') {
				min-height: 135px;
			}
		}

		&.error input, &.error textarea {
			border-color: var(--red);
			box-shadow: 0 0 10px rgba(var(--red-rgb), 0.5);
		}
	}

	&__submit.button {
		margin: 0 auto;

		@include media('<=xxs') {
			background: 
				linear-gradient(var(--ground), var(--ground)) padding-box,
				linear-gradient(90deg, #926105, #DFA02B, #91620B) border-box;
		}
	}
}